# Bibliotecas

In [235]:
import pandas as pd

# Dataset:
- Descategorizamos las columnas

In [236]:
data= pd.read_csv("../data/raw/df.csv")
data

,event,date,location,r_fighter,b_fighter,status,r_kd,b_kd,r_str,b_str,r_td,b_td,r_sub,b_sub,weight_class,method,method_detailed,round,time
0,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Rose Namajunas,Amanda Ribas,win,0.0,0.0,93.0,83.0,1.0,4.0,0.0,0.0,Women's Flyweight,U-DEC,NaN,5.0,5:00
1,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Karl Williams,Justin Tafa,win,0.0,0.0,40.0,21.0,7.0,0.0,1.0,0.0,Heavyweight,U-DEC,NaN,3.0,5:00
2,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Edmen Shahbazyan,AJ Dobson,win,1.0,0.0,27.0,15.0,1.0,0.0,0.0,0.0,Middleweight,KO/TKO,Punches,1.0,4:33
3,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Payton Talbott,Cameron Saaiman,win,1.0,0.0,79.0,31.0,0.0,0.0,0.0,0.0,Bantamweight,KO/TKO,Punches,2.0,0:21
4,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Youssef Zalal,Billy Quarantillo,win,0.0,0.0,33.0,10.0,2.0,0.0,2.0,0.0,Featherweight,SUB,Rear Naked Choke,2.0,1:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7577,NaN,NaN,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7578,NaN,NaN,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7579,NaN,NaN,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7580,NaN,NaN,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7581,NaN,NaN,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [237]:
df= data.copy()

In [238]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7582 entries, 0 to 7581
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event            7497 non-null   object
 1   date             7497 non-null   object
 2   location         7497 non-null   object
 3   r_fighter        7497 non-null   object
 4   b_fighter        7497 non-null   object
 5   status           7582 non-null   object
 6   r_kd             7476 non-null   float64
 7   b_kd             7476 non-null   float64
 8   r_str            7476 non-null   float64
 9   b_str            7476 non-null   float64
 10  r_td             7476 non-null   float64
 11  b_td             7476 non-null   float64
 12  r_sub            7476 non-null   float64
 13  b_sub            7476 non-null   float64
 14  weight_class     7497 non-null   object
 15  method           7497 non-null   object
 16  method_detailed  3836 non-null   object
 17  round            7497 non-null   float64
 18  time             7497 non-null   object
dtypes: float64(9), object(10)
memory usage: 1.1+ MB

## Elimininamos:
1. Evento: no tiene informaciÃ³n correlada
2. LocalizaciÃ³n: tampoco la tiene

In [239]:
df = df.drop(columns =["event","location"])

In [240]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7582 entries, 0 to 7581
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             7497 non-null   object
 1   r_fighter        7497 non-null   object
 2   b_fighter        7497 non-null   object
 3   status           7582 non-null   object
 4   r_kd             7476 non-null   float64
 5   b_kd             7476 non-null   float64
 6   r_str            7476 non-null   float64
 7   b_str            7476 non-null   float64
 8   r_td             7476 non-null   float64
 9   b_td             7476 non-null   float64
 10  r_sub            7476 non-null   float64
 11  b_sub            7476 non-null   float64
 12  weight_class     7497 non-null   object
 13  method           7497 non-null   object
 14  method_detailed  3836 non-null   object
 15  round            7497 non-null   float64
 16  time             7497 non-null   object
dtypes: float64(9), object(8)
memory usage: 1007.1+ KB

## Manipulamos "Status":
- Solo nos quedaremos con peleas que haya victorias o derrotas

In [241]:
df

,date,r_fighter,b_fighter,status,r_kd,b_kd,r_str,b_str,r_td,b_td,r_sub,b_sub,weight_class,method,method_detailed,round,time
0,3/23/2024,Rose Namajunas,Amanda Ribas,win,0.0,0.0,93.0,83.0,1.0,4.0,0.0,0.0,Women's Flyweight,U-DEC,NaN,5.0,5:00
1,3/23/2024,Karl Williams,Justin Tafa,win,0.0,0.0,40.0,21.0,7.0,0.0,1.0,0.0,Heavyweight,U-DEC,NaN,3.0,5:00
2,3/23/2024,Edmen Shahbazyan,AJ Dobson,win,1.0,0.0,27.0,15.0,1.0,0.0,0.0,0.0,Middleweight,KO/TKO,Punches,1.0,4:33
3,3/23/2024,Payton Talbott,Cameron Saaiman,win,1.0,0.0,79.0,31.0,0.0,0.0,0.0,0.0,Bantamweight,KO/TKO,Punches,2.0,0:21
4,3/23/2024,Youssef Zalal,Billy Quarantillo,win,0.0,0.0,33.0,10.0,2.0,0.0,2.0,0.0,Featherweight,SUB,Rear Naked Choke,2.0,1:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7577,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7578,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7579,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7580,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7581,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [242]:
df["status"].value_counts()

status
win                                7439
Fight was not properly finished      85
draw                                 58
Name: count, dtype: int64

In [243]:
(df[df["status"] == "Fight was not properly finished"]).head()

,date,r_fighter,b_fighter,status,r_kd,b_kd,r_str,b_str,r_td,b_td,r_sub,b_sub,weight_class,method,method_detailed,round,time
7497,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7501,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [244]:
(df[df["status"] == "draw"]).head()

,date,r_fighter,b_fighter,status,r_kd,b_kd,r_str,b_str,r_td,b_td,r_sub,b_sub,weight_class,method,method_detailed,round,time
182,11/11/2023,Nazim Sadykhov,Viacheslav Borshchev,draw,1.0,0.0,91.0,143.0,4.0,0.0,0.0,0.0,Lightweight,M-DEC,NaN,3.0,5:00
192,11/4/2023,Rinat Fakhretdinov,Elizeu Zaleski dos Santos,draw,1.0,0.0,87.0,75.0,1.0,0.0,0.0,1.0,Welterweight,M-DEC,NaN,3.0,5:00
244,9/16/2023,Alexa Grasso,Valentina Shevchenko,draw,1.0,0.0,84.0,80.0,1.0,4.0,1.0,1.0,Women's Flyweight,S-DEC,NaN,5.0,5:00
533,3/18/2023,Jai Herbert,Ludovit Klein,draw,0.0,0.0,43.0,47.0,1.0,2.0,0.0,0.0,Lightweight,M-DEC,NaN,3.0,5:00
594,2/11/2023,Jimmy Crute,Alonzo Menifield,draw,0.0,2.0,31.0,56.0,6.0,0.0,3.0,0.0,Light Heavyweight,M-DEC,NaN,3.0,5:00

In [245]:
df = df[(df["status"] != "Fight was not properly finished") & (df["status"] != "draw")]

In [246]:
df["status"].value_counts()

status
win    7439
Name: count, dtype: int64

In [247]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7439 entries, 0 to 7496
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             7439 non-null   object
 1   r_fighter        7439 non-null   object
 2   b_fighter        7439 non-null   object
 3   status           7439 non-null   object
 4   r_kd             7418 non-null   float64
 5   b_kd             7418 non-null   float64
 6   r_str            7418 non-null   float64
 7   b_str            7418 non-null   float64
 8   r_td             7418 non-null   float64
 9   b_td             7418 non-null   float64
 10  r_sub            7418 non-null   float64
 11  b_sub            7418 non-null   float64
 12  weight_class     7439 non-null   object
 13  method           7439 non-null   object
 14  method_detailed  3836 non-null   object
 15  round            7439 non-null   float64
 16  time             7439 non-null   object
dtypes: float64(9), object(8)
memory usage: 1.0+ MB

Ya podemos eliminar la columna status ya que de la manera que esta diseÃ±ado el data set, cada registro es igual a victoria del peleador rojo

In [248]:
df = df.drop(columns = "status")

In [249]:
df.columns

Index(['date', 'r_fighter', 'b_fighter', 'r_kd', 'b_kd', 'r_str', 'b_str',
       'r_td', 'b_td', 'r_sub', 'b_sub', 'weight_class', 'method',
       'method_detailed', 'round', 'time'],
      dtype='object')

## Weight class:
- No tendremos en cuenta el gÃ©nero de la categorÃ­a
- Pasarla de variable categÃ³rica a numÃ©rica

In [250]:
df["weight_class"]

0       Women's Flyweight
1             Heavyweight
2            Middleweight
3            Bantamweight
4           Featherweight
              ...
7492          Open Weight
7493          Open Weight
7494          Open Weight
7495          Open Weight
7496          Open Weight
Name: weight_class, Length: 7439, dtype: object

Creamos un diccionario de valores:

In [251]:
division_dict = {'Middleweight': 'Peso Medio',
                'Bantamweight': 'Peso Gallo',
                'Featherweight': 'Peso Pluma',
                'Heavyweight': 'Peso Pesado',
                "Women's Bantamweight": 'Peso Gallo',
                'Lightweight': 'Peso Ligero',
                'Flyweight': 'Peso Mosca',
                "Women's Strawweight": 'Peso Paja',
                'Welterweight': 'Peso Welter',
                'Light Heavyweight': 'Peso Semipesado',
                "Women's Flyweight": 'Peso Mosca',
                'Catch Weight': 'Peso Pactado',
                "Women's Featherweight": 'Peso Pluma',
                'Super Heavyweight': 'Peso Super Pesado',
                'Open Weight': 'Peso Abierto'}

df["weight_class"] = df["weight_class"].map(division_dict)

In [252]:
df["weight_class"].value_counts()

weight_class
Peso Ligero          1286
Peso Welter          1246
Peso Medio            993
Peso Gallo            831
Peso Pluma            740
Peso Pesado           681
Peso Semipesado       652
Peso Mosca            540
Peso Paja             290
Peso Abierto          115
Peso Pactado           64
Peso Super Pesado       1
Name: count, dtype: int64

In [253]:
df["weight_class"].unique()

array(['Peso Mosca', 'Peso Pesado', 'Peso Medio', 'Peso Gallo',
       'Peso Pluma', 'Peso Ligero', 'Peso Semipesado', 'Peso Paja',
       'Peso Welter', 'Peso Pactado', 'Peso Super Pesado', 'Peso Abierto'],
      dtype=object)

- Pesos Bajos: Peso Paja, Peso Mosca, Peso Gallo                    (1)
- Pesos Medios: Peso Pluma, Peso Ligero, Peso Welter                (2)
- Pesos Intermedios: Peso Medio, Peso Semipesado, Peso Pactado      (3)
- Pesados: Peso Pesado, Peso Super Pesado, Peso Abierto             (4)

In [254]:
categorias_grupos = {'Peso Paja': 1, 'Peso Mosca': 1,'Peso Gallo': 1,
                     'Peso Pluma': 2,'Peso Ligero': 2,'Peso Welter': 2,
                     'Peso Medio': 3,'Peso Semipesado': 3,'Peso Pactado': 3,
                     'Peso Pesado': 4,'Peso Super Pesado': 4,'Peso Abierto': 4}

df['weight_class'] = df['weight_class'].map(categorias_grupos)

In [255]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7439 entries, 0 to 7496
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             7439 non-null   object
 1   r_fighter        7439 non-null   object
 2   b_fighter        7439 non-null   object
 3   r_kd             7418 non-null   float64
 4   b_kd             7418 non-null   float64
 5   r_str            7418 non-null   float64
 6   b_str            7418 non-null   float64
 7   r_td             7418 non-null   float64
 8   b_td             7418 non-null   float64
 9   r_sub            7418 non-null   float64
 10  b_sub            7418 non-null   float64
 11  weight_class     7439 non-null   int64
 12  method           7439 non-null   object
 13  method_detailed  3836 non-null   object
 14  round            7439 non-null   float64
 15  time             7439 non-null   object
dtypes: float64(9), int64(1), object(6)
memory usage: 988.0+ KB

## Method

In [256]:
df["method"]

0        U-DEC
1        U-DEC
2       KO/TKO
3       KO/TKO
4          SUB
         ...
7492    KO/TKO
7493       SUB
7494    KO/TKO
7495       SUB
7496       SUB
Name: method, Length: 7439, dtype: object

Para pasarla a numÃ©rica le daremos un valor a cada variable

- U-DEC (Unanimous Decision): 1
- KO/TKO (Knockout / Technical Knockout): 2
- SUB (Submission): 3
- DQ (Disqualification): 4
- S-DEC (Split Decision): 5
- M-DEC (Majority Decision): 6

In [257]:
method_dict = {"U-DEC": 1,
               "KO/TKO": 2,
               "SUB": 3,
               "DQ": 4,
               "S-DEC" : 5,
               "M-DEC" : 6}

df["method"] = df["method"].map(method_dict)

In [258]:
df["method"].value_counts()

method
1    2660
2    2493
3    1501
5     704
6      59
4      22
Name: count, dtype: int64

In [259]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7439 entries, 0 to 7496
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             7439 non-null   object
 1   r_fighter        7439 non-null   object
 2   b_fighter        7439 non-null   object
 3   r_kd             7418 non-null   float64
 4   b_kd             7418 non-null   float64
 5   r_str            7418 non-null   float64
 6   b_str            7418 non-null   float64
 7   r_td             7418 non-null   float64
 8   b_td             7418 non-null   float64
 9   r_sub            7418 non-null   float64
 10  b_sub            7418 non-null   float64
 11  weight_class     7439 non-null   int64
 12  method           7439 non-null   int64
 13  method_detailed  3836 non-null   object
 14  round            7439 non-null   float64
 15  time             7439 non-null   object
dtypes: float64(9), int64(2), object(5)
memory usage: 988.0+ KB

## Method Detailed

In [260]:
df["method_detailed"].value_counts()

method_detailed
Punches                   934
Punch                     832
Rear Naked Choke          577
Guillotine Choke          263
Kick                      184
Armbar                    183
Elbows                    126
Arm Triangle              109
Knee                       98
Triangle Choke             93
Kimura                     41
D'Arce Choke               40
Elbow                      36
Knees                      35
Flying Knee                35
Anaconda Choke             30
Kneebar                    20
Heel Hook                  19
Neck Crank                 15
Slam                       14
Triangle Armbar            11
Spinning Back Fist         10
Kicks                      10
Spinning Back Kick         10
Ankle Lock                  9
Injury                      9
Keylock                     8
Von Flue Choke              8
Bulldog Choke               7
Spinning Back Elbow         7
Scarf Hold                  7
Other                       6
North-South Choke           5
Forearm Choke               5
Ezekiel Choke               4
Inverted Triangle           4
Straight Armbar             3
Twister                     3
Other - Lock                3
Headbutts                   3
Suloev Stretch              3
Schultz Front Headlock      2
Peruvian Necktie            2
Calf Slicer                 2
Omoplata                    2
Other - Choke               2
Shoulder Choke              2
Gi Choke                    2
Toe Hold                    1
Pace/Pillory Choke          1
Headbutt                    1
Name: count, dtype: int64

Tenemos muchas formas de finalizar la pelea, agrupemosla en dos grandes categorÃ­as:
- FinalizaciÃ³n por golpe: 1
- TÃ©cnicas de suelo : 2
- Descalificacion : 0

Antes que nada vamos a tratar los missing-values:
- LÃ³gicamente si una pelea acabÃ³ por U-DEC (1), KO/TKO (2), S-DEC (5), M-DEC (6) significa que hubo tÃ©cnicas de golpeo
- Si acabÃ³ con una SUB pues tecnicas de suelo (3)
- DescalificaciÃ³n habrÃ­a tÃ©cnica ilegal.

In [261]:
asignacion_method = {1: 1, 
                     2: 1,
                     5: 1,
                     6: 1,
                     3: 2,  
                     4: 3}


df['method_detailed'] = df['method_detailed'].fillna(df['method'].map(asignacion_method))

In [262]:
df["method_detailed"].value_counts()

method_detailed
1                         3581
Punches                    934
Punch                      832
Rear Naked Choke           577
Guillotine Choke           263
Kick                       184
Armbar                     183
Elbows                     126
Arm Triangle               109
Knee                        98
Triangle Choke              93
Kimura                      41
D'Arce Choke                40
Elbow                       36
Flying Knee                 35
Knees                       35
Anaconda Choke              30
3                           21
Kneebar                     20
Heel Hook                   19
Neck Crank                  15
Slam                        14
Triangle Armbar             11
Spinning Back Fist          10
Kicks                       10
Spinning Back Kick          10
Injury                       9
Ankle Lock                   9
Keylock                      8
Von Flue Choke               8
Bulldog Choke                7
Scarf Hold                   7
Spinning Back Elbow          7
Other                        6
Forearm Choke                5
North-South Choke            5
Inverted Triangle            4
Ezekiel Choke                4
Twister                      3
Other - Lock                 3
Straight Armbar              3
Suloev Stretch               3
Headbutts                    3
Omoplata                     2
Peruvian Necktie             2
Schultz Front Headlock       2
Gi Choke                     2
Calf Slicer                  2
Other - Choke                2
Shoulder Choke               2
Pace/Pillory Choke           1
Toe Hold                     1
Headbutt                     1
2                            1
Name: count, dtype: int64

In [263]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7439 entries, 0 to 7496
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             7439 non-null   object
 1   r_fighter        7439 non-null   object
 2   b_fighter        7439 non-null   object
 3   r_kd             7418 non-null   float64
 4   b_kd             7418 non-null   float64
 5   r_str            7418 non-null   float64
 6   b_str            7418 non-null   float64
 7   r_td             7418 non-null   float64
 8   b_td             7418 non-null   float64
 9   r_sub            7418 non-null   float64
 10  b_sub            7418 non-null   float64
 11  weight_class     7439 non-null   int64
 12  method           7439 non-null   int64
 13  method_detailed  7439 non-null   object
 14  round            7439 non-null   float64
 15  time             7439 non-null   object
dtypes: float64(9), int64(2), object(5)
memory usage: 988.0+ KB

In [264]:
golpes = {"Punches", "Kick", "Punch", "Elbows", "Elbow", "Flying Knee", 
          "Knees", "Knee", "Kicks", "Spinning Back Kick", 
          "Spinning Back Fist", "Spinning Back Elbow", 
          "Headbutts", "Slam"}

suelo = {"Rear Naked Choke","D'Arce Choke","Guillotine Choke","Arm Triangle","Armbar","Triangle Choke","Anaconda Choke",
        "Neck Crank","Kimura","Kneebar","Inverted Triangle","Von Flue Choke","Scarf Hold","Straight Armbar","Heel Hook",
        "Ankle Lock","Forearm Choke","Ezekiel Choke","Peruvian Necktie","Schultz Front Headlock","Bulldog Choke",
        "Suloev Stretch","Omoplata","Calf Slicer","North-South Choke","Pace/Pillory Choke","Toe Hold",
        "Shoulder Choke","Twister","Triangle Armbar"}

descalificacion = {"Other", "Other - Lock", "Other - Choke", "Injury", "Gi Choke", "Keylock","Headbutt"}

df["method_detailed"] = df["method_detailed"].replace(golpes, 1).replace(suelo, 2).replace(descalificacion, 3).astype(int)

C:\Users\Jjaavviieerroperro\AppData\Local\Temp\ipykernel_4228\2562979004.py:14: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["method_detailed"] = df["method_detailed"].replace(golpes, 1).replace(suelo, 2).replace(descalificacion, 3).astype(int)

In [265]:
df["method_detailed"].value_counts()

method_detailed
1    5915
2    1472
3      52
Name: count, dtype: int64

In [266]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7439 entries, 0 to 7496
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             7439 non-null   object
 1   r_fighter        7439 non-null   object
 2   b_fighter        7439 non-null   object
 3   r_kd             7418 non-null   float64
 4   b_kd             7418 non-null   float64
 5   r_str            7418 non-null   float64
 6   b_str            7418 non-null   float64
 7   r_td             7418 non-null   float64
 8   b_td             7418 non-null   float64
 9   r_sub            7418 non-null   float64
 10  b_sub            7418 non-null   float64
 11  weight_class     7439 non-null   int64
 12  method           7439 non-null   int64
 13  method_detailed  7439 non-null   int64
 14  round            7439 non-null   float64
 15  time             7439 non-null   object
dtypes: float64(9), int64(3), object(4)
memory usage: 988.0+ KB

## Agrupemos Round y Time en una sola columna:
- Para saber en que minuto acabÃ³ la pelea, sabemos que 5 minutos dura cada uno

Time: estÃ¡ en valor objeto y lo que remos pasar a float

In [267]:
df["time"]

0        5:00
1        5:00
2        4:33
3        0:21
4        1:50
        ...
7492     2:50
7493     4:52
7494    12:13
7495     0:58
7496     0:20
Name: time, Length: 7439, dtype: object

In [268]:
df['time'] = df['time'].str.split(':').str[0].astype(int)

In [269]:
df['time'].value_counts()

time
5     3462
4      880
2      870
1      856
3      767
0      564
9        8
12       6
10       6
8        4
7        4
6        3
11       3
15       2
18       2
13       1
17       1
Name: count, dtype: int64

In [270]:
df[df["time"] == 9 ]

,date,r_fighter,b_fighter,r_kd,b_kd,r_str,b_str,r_td,b_td,r_sub,b_sub,weight_class,method,method_detailed,round,time
7304,3/5/1999,Tito Ortiz,Guy Mezger,0.0,0.0,26.0,2.0,2.0,0.0,0.0,3.0,3,2,1,1.0,9
7324,10/16/1998,Tulio Palhares,Adriano Santos,0.0,0.0,31.0,11.0,4.0,2.0,0.0,0.0,3,2,1,1.0,9
7337,3/13/1998,Pat Miletich,Chris Brennan,0.0,0.0,6.0,2.0,0.0,1.0,1.0,1.0,2,3,2,1.0,9
7340,3/13/1998,Mikey Burnett,Eugenio Tadeu,0.0,0.0,42.0,6.0,1.0,0.0,1.0,0.0,2,2,1,1.0,9
7387,12/7/1996,Kimo Leopoldo,Paul Varelans,0.0,0.0,9.0,21.0,0.0,0.0,0.0,0.0,4,2,1,1.0,9
7411,5/17/1996,Don Frye,Amaury Bitetti,0.0,0.0,46.0,2.0,1.0,0.0,0.0,0.0,4,2,1,1.0,9
7422,2/16/1996,Jerry Bohlander,Scott Ferrozzo,0.0,0.0,7.0,9.0,0.0,2.0,1.0,1.0,4,3,2,1.0,9
7491,3/11/1994,Remco Pardoel,Alberta Cerra Leon,0.0,0.0,4.0,1.0,1.0,0.0,1.0,0.0,4,3,2,1.0,9

### Curiosamente las peleas antiguas duraban mas de 5 minutos y sin asaltos
- Voy eliminar todas las filas que tengan mas de 5 minutos

In [271]:
df = df[df['time'] <= 5]
df["time"].value_counts()

time
5    3462
4     880
2     870
1     856
3     767
0     564
Name: count, dtype: int64

Vayamos ahora con round

In [272]:
df['time'] = (df['round'] - 1) * 5 + df['time']

In [273]:
#Peleas increibles que acabaron antes del primer minuto
df[df["time"] == 0]

,date,r_fighter,b_fighter,r_kd,b_kd,r_str,b_str,r_td,b_td,r_sub,b_sub,weight_class,method,method_detailed,round,time
36,3/9/2024,Robelis Despaigne,Josh Parisian,1.0,0.0,7.0,2.0,0.0,0.0,0.0,0.0,4,2,1,1.0,0.0
61,2/24/2024,Muhammad Naimov,Erik Silva,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,2,2,1,1.0,0.0
94,2/3/2024,Themba Gorimbo,Pete Rodriguez,1.0,0.0,12.0,0.0,0.0,0.0,0.0,0.0,2,2,1,1.0,0.0
181,11/11/2023,Jamall Emmers,Dennis Buzukja,1.0,0.0,14.0,3.0,0.0,0.0,0.0,0.0,2,2,1,1.0,0.0
211,10/14/2023,Terrance McKinney,Brendon Marotte,1.0,0.0,14.0,1.0,0.0,0.0,0.0,0.0,2,2,1,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7475,12/16/1994,Joe Charles,Kevin Rosier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,2,1.0,0.0
7479,9/9/1994,Harold Howard,Roland Payne,1.0,0.0,9.0,3.0,0.0,1.0,0.0,0.0,4,2,1,1.0,0.0
7488,3/11/1994,Patrick Smith,Scott Morris,0.0,0.0,13.0,0.0,0.0,0.0,0.0,0.0,4,2,1,1.0,0.0
7495,3/11/1994,Patrick Smith,Ray Wizard,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,4,3,2,1.0,0.0
7496,3/11/1994,Scott Morris,Sean Daugherty,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,4,3,2,1.0,0.0

In [274]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7399 entries, 0 to 7496
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             7399 non-null   object
 1   r_fighter        7399 non-null   object
 2   b_fighter        7399 non-null   object
 3   r_kd             7379 non-null   float64
 4   b_kd             7379 non-null   float64
 5   r_str            7379 non-null   float64
 6   b_str            7379 non-null   float64
 7   r_td             7379 non-null   float64
 8   b_td             7379 non-null   float64
 9   r_sub            7379 non-null   float64
 10  b_sub            7379 non-null   float64
 11  weight_class     7399 non-null   int64
 12  method           7399 non-null   int64
 13  method_detailed  7399 non-null   int64
 14  round            7399 non-null   float64
 15  time             7399 non-null   float64
dtypes: float64(10), int64(3), object(3)
memory usage: 982.7+ KB

In [275]:
df = df.drop(columns = "round")

In [276]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7399 entries, 0 to 7496
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             7399 non-null   object
 1   r_fighter        7399 non-null   object
 2   b_fighter        7399 non-null   object
 3   r_kd             7379 non-null   float64
 4   b_kd             7379 non-null   float64
 5   r_str            7379 non-null   float64
 6   b_str            7379 non-null   float64
 7   r_td             7379 non-null   float64
 8   b_td             7379 non-null   float64
 9   r_sub            7379 non-null   float64
 10  b_sub            7379 non-null   float64
 11  weight_class     7399 non-null   int64
 12  method           7399 non-null   int64
 13  method_detailed  7399 non-null   int64
 14  time             7399 non-null   float64
dtypes: float64(9), int64(3), object(3)
memory usage: 924.9+ KB

Fecha la podemos usar como identificador

In [277]:
df.loc[:,'date'] = pd.to_datetime(df['date'], format='%m/%d/%Y')

Comprobamos si hay valores de fechas nulos

In [278]:
num_nat = df['date'].isna().sum()
print(f"NÃºmero de valores NaT en la columna: {num_nat}")

NÃºmero de valores NaT en la columna: 0

In [279]:
print(f"Fecha mÃ¡xima:{df["date"].max()}")
print(f"Fecha mÃ­nima:{df["date"].min()}")

Fecha mÃ¡xima:2024-03-23 00:00:00
Fecha mÃ­nima:1994-03-11 00:00:00

In [280]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7399 entries, 0 to 7496
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             7399 non-null   object
 1   r_fighter        7399 non-null   object
 2   b_fighter        7399 non-null   object
 3   r_kd             7379 non-null   float64
 4   b_kd             7379 non-null   float64
 5   r_str            7379 non-null   float64
 6   b_str            7379 non-null   float64
 7   r_td             7379 non-null   float64
 8   b_td             7379 non-null   float64
 9   r_sub            7379 non-null   float64
 10  b_sub            7379 non-null   float64
 11  weight_class     7399 non-null   int64
 12  method           7399 non-null   int64
 13  method_detailed  7399 non-null   int64
 14  time             7399 non-null   float64
dtypes: float64(9), int64(3), object(3)
memory usage: 924.9+ KB

# Tratar los missingValues que quedan

In [281]:
df[df['r_kd'].isna()]

,date,r_fighter,b_fighter,r_kd,b_kd,r_str,b_str,r_td,b_td,r_sub,b_sub,weight_class,method,method_detailed,time
7333,1998-05-15 00:00:00,Andre Roberts,Harry Moskowitz,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1,1,8.0
7341,1998-03-13 00:00:00,Chris Brennan,Courtney Turner,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,3,2,1.0
7342,1998-03-13 00:00:00,Laverne Clark,Josh Stuart,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,1,1.0
7381,1997-02-07 00:00:00,Justin Martin,Eric Martin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,2,0.0
7382,1997-02-07 00:00:00,Nick Sanzo,Jackie Lee,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,1,0.0
7390,1996-12-07 00:00:00,Tai Bowden,Jack Nilson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,1,4.0
7391,1996-12-07 00:00:00,Steve Nelmark,Marcus Bossett,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,2,1.0
7392,1996-12-07 00:00:00,Mark Hall,Felix Lee Mitchell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,1,1.0
7399,1996-09-20 00:00:00,Roberto Traven,Dave Berry,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,1,1.0
7400,1996-09-20 00:00:00,Scott Ferrozzo,Sam Fulton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,3,1.0
7408,1996-07-12 00:00:00,Sam Adkins,Felix Lee Mitchell,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,1,1,8.0
7425,1996-02-16 00:00:00,Sam Adkins,Keith Mielke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,1,0.0
7433,1995-12-16 00:00:00,Mark Hall,Trent Jenkins,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,2,5.0
7434,1995-12-16 00:00:00,Joe Charles,Scott Bessac,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,2,4.0
7443,1995-09-08 00:00:00,Onassis Parungao,Francesco Maturi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,1,5.0
7444,1995-09-08 00:00:00,Joel Sutton,Geza Kalman,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,1,0.0
7454,1995-07-14 00:00:00,Anthony Macias,He-Man Gipson,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,1,3.0
7455,1995-07-14 00:00:00,Joel Sutton,Jack McGlaughlin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,1,2.0
7474,1994-12-16 00:00:00,Marcus Bossett,Eldo Xavier Dias,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,2,1,4.0
7475,1994-12-16 00:00:00,Joe Charles,Kevin Rosier,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4,3,2,0.0

Vamos a eliminar esas peleas que no tenemos datos suficientes para tenerlas en cuenta

In [282]:
df = df.dropna()

In [283]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7379 entries, 0 to 7496
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             7379 non-null   object
 1   r_fighter        7379 non-null   object
 2   b_fighter        7379 non-null   object
 3   r_kd             7379 non-null   float64
 4   b_kd             7379 non-null   float64
 5   r_str            7379 non-null   float64
 6   b_str            7379 non-null   float64
 7   r_td             7379 non-null   float64
 8   b_td             7379 non-null   float64
 9   r_sub            7379 non-null   float64
 10  b_sub            7379 non-null   float64
 11  weight_class     7379 non-null   int64
 12  method           7379 non-null   int64
 13  method_detailed  7379 non-null   int64
 14  time             7379 non-null   float64
dtypes: float64(9), int64(3), object(3)
memory usage: 922.4+ KB

Ya tenemos el dataset totalmente preparado para empezar a manipularlo

In [284]:
df.to_csv("../data/processed/data_processed.csv")

# SelecciÃ³n de Peleadores

In [285]:
# Contar las apariciones de cada peleador en las columnas 'r_fighter' y 'b_fighter'
peleas_r = df['r_fighter'].value_counts()
peleas_b = df['b_fighter'].value_counts()

peleas_totales = peleas_r.add(peleas_b, fill_value=0)
peleas_totales

AJ Cunningham        1.0
AJ Dobson            4.0
AJ Fletcher          4.0
Aalon Cruz           2.0
Aaron Brink          1.0
                    ...
Zhang Mingyang       1.0
Zhang Tiequan        4.0
Zhang Weili         10.0
Zubaira Tukhugov     8.0
Zviad Lazishvili     1.0
Name: count, Length: 2437, dtype: float64

Cogemos los peleadores que tengan mas de 25 peleas para que sea mas representativa la muestra

In [286]:
luchadores_mas_25_peleas = peleas_totales[peleas_totales > 25]

print(luchadores_mas_25_peleas)
print(len(luchadores_mas_25_peleas))

Alex Caceres          28.0
Andrei Arlovski       40.0
Charles Oliveira      31.0
Clay Guida            36.0
Darren Elkins         28.0
Demian Maia           33.0
Derrick Lewis         28.0
Diego Sanchez         32.0
Donald Cerrone        37.0
Dustin Poirier        29.0
Edson Barboza         29.0
Francisco Trinaldo    26.0
Frank Mir             27.0
Frankie Edgar         29.0
Gleison Tibau         28.0
Jeremy Stephens       33.0
Jessica Andrade       26.0
Jim Miller            42.0
Joe Lauzon            27.0
Matt Brown            30.0
Max Holloway          28.0
Michael Bisping       29.0
Michael Johnson       29.0
Nate Diaz             27.0
Neil Magny            32.0
Ovince Saint Preux    27.0
Rafael Dos Anjos      35.0
Thiago Alves          27.0
Tim Means             27.0
Name: count, dtype: float64
29

In [287]:
df[df["r_fighter"] == "Charles Oliveira"].head()

,date,r_fighter,b_fighter,r_kd,b_kd,r_str,b_str,r_td,b_td,r_sub,b_sub,weight_class,method,method_detailed,time
405,2023-06-10 00:00:00,Charles Oliveira,Beneil Dariush,1.0,0.0,26.0,12.0,0.0,0.0,0.0,0.0,2,2,1,4.0
957,2022-05-07 00:00:00,Charles Oliveira,Justin Gaethje,1.0,1.0,30.0,21.0,0.0,0.0,2.0,0.0,2,3,2,3.0
1154,2021-12-11 00:00:00,Charles Oliveira,Dustin Poirier,0.0,1.0,73.0,58.0,0.0,0.0,3.0,0.0,2,3,2,11.0
1452,2021-05-15 00:00:00,Charles Oliveira,Michael Chandler,2.0,0.0,24.0,30.0,1.0,0.0,0.0,1.0,2,2,1,5.0
1655,2020-12-12 00:00:00,Charles Oliveira,Tony Ferguson,0.0,0.0,41.0,19.0,3.0,0.0,3.0,0.0,2,1,1,15.0

Voy a coger como mÃ©trica de luchador la media de la mediana de sus peleas ganadas y sus medianas de cuando pierde

In [288]:
#Veces que aparecen los peleadores en total
df_filtrado_ganadores = df[df['r_fighter'].isin(luchadores_mas_25_peleas.index)]
print(len(df_filtrado_ganadores))

df_filtrado_perdedores = df[df['b_fighter'].isin(luchadores_mas_25_peleas.index)]
print(len(df_filtrado_perdedores))

535
345

In [289]:
medianas_ganadores = df_filtrado_ganadores.groupby('r_fighter')[['r_kd', 'r_str', 'r_td', 'r_sub']].median()
print(len(medianas_ganadores))

29

In [290]:
medianas_ganadores.head()

                  r_kd  r_str  r_td  r_sub
r_fighter
Alex Caceres       0.0   62.0   0.0    0.0
Andrei Arlovski    0.0   34.0   0.0    0.0
Charles Oliveira   0.0   27.0   1.0    1.0
Clay Guida         0.0   26.5   2.5    0.0
Darren Elkins      0.0   34.5   1.5    1.0

In [291]:
medianas_perdedores = df_filtrado_perdedores.groupby('b_fighter')[['b_kd', 'b_str', 'b_td', 'b_sub']].median()
len(medianas_perdedores)

29

In [292]:
medianas_perdedores.head()

                  b_kd  b_str  b_td  b_sub
b_fighter
Alex Caceres       0.0   25.5   0.0    0.0
Andrei Arlovski    0.0   20.0   0.0    0.0
Charles Oliveira   0.0   10.0   0.0    0.0
Clay Guida         0.0   28.5   0.0    0.0
Darren Elkins      0.0   33.0   1.0    0.0

In [293]:
medianas_ganadores.columns = ['kd', 'str', 'td', 'sub']
medianas_perdedores.columns = ['kd', 'str', 'td', 'sub']

In [294]:
metrics_media = (medianas_ganadores + medianas_perdedores) / 2

In [306]:
# Unir los datos de los ganadores y perdedores en una sola columna de peleadores
weight_class_ganadores = df_filtrado_ganadores.groupby('r_fighter')['weight_class'].apply(lambda x: x.mode()[0]).reset_index()
weight_class_perdedores = df_filtrado_perdedores.groupby('b_fighter')['weight_class'].apply(lambda x: x.mode()[0]).reset_index()

# Renombrar la columna para facilitar la uniÃ³n
weight_class_ganadores.rename(columns={'r_fighter': 'fighter', 'weight_class': 'weight_class'}, inplace=True)
weight_class_perdedores.rename(columns={'b_fighter': 'fighter', 'weight_class': 'weight_class'}, inplace=True)

# Combinar ambos grupos de datos (ganadores y perdedores) para obtener la categorÃ­a de peso final
weight_classes_combined = pd.concat([weight_class_ganadores, weight_class_perdedores], axis=0)

# Obtener la categorÃ­a de peso mÃ¡s frecuente para cada peleador
weight_class_final = weight_classes_combined.groupby('fighter')['weight_class'].apply(lambda x: x.mode()[0])

weight_class_final

fighter
Alex Caceres          2
Andrei Arlovski       4
Charles Oliveira      2
Clay Guida            2
Darren Elkins         2
Demian Maia           2
Derrick Lewis         4
Diego Sanchez         2
Donald Cerrone        2
Dustin Poirier        2
Edson Barboza         2
Francisco Trinaldo    2
Frank Mir             4
Frankie Edgar         2
Gleison Tibau         2
Jeremy Stephens       2
Jessica Andrade       1
Jim Miller            2
Joe Lauzon            2
Matt Brown            2
Max Holloway          2
Michael Bisping       3
Michael Johnson       2
Nate Diaz             2
Neil Magny            2
Ovince Saint Preux    3
Rafael Dos Anjos      2
Thiago Alves          2
Tim Means             2
Name: weight_class, dtype: int64

In [307]:
len(weight_class_final)

29

In [308]:
# Unir la columna de 'weight_class' con 'metrics_media'
metrics_media = metrics_media.merge(weight_class_final, on='fighter', how='left')

# Mostrar el resultado
print(metrics_media.head())

            fighter   kd    str    td  sub  weight_class
0      Alex Caceres  0.0  43.75  0.00  0.0             2
1   Andrei Arlovski  0.0  27.00  0.00  0.0             4
2  Charles Oliveira  0.0  18.50  0.50  0.5             2
3        Clay Guida  0.0  27.50  1.25  0.0             2
4     Darren Elkins  0.0  33.75  1.25  0.5             2

In [309]:
metrics_media = metrics_media.reset_index()
metrics_media.rename(columns={'r_fighter': 'fighter'}, inplace=True)
# metrics_media.to_csv("../data/processed/metrics_media.csv")

In [310]:
metrics_media.columns

Index(['index', 'fighter', 'kd', 'str', 'td', 'sub', 'weight_class'], dtype='object')

In [311]:
metrics_media.head()

   index           fighter   kd    str    td  sub  weight_class
0      0      Alex Caceres  0.0  43.75  0.00  0.0             2
1      1   Andrei Arlovski  0.0  27.00  0.00  0.0             4
2      2  Charles Oliveira  0.0  18.50  0.50  0.5             2
3      3        Clay Guida  0.0  27.50  1.25  0.0             2
4      4     Darren Elkins  0.0  33.75  1.25  0.5             2

In [299]:
metrics_media.describe()

              kd         str        td        sub
count  29.000000   29.000000  29.00000  29.000000
mean    0.077586   34.310345   0.50000   0.155172
std     0.178078   17.372322   0.53033   0.225731
min     0.000000    4.500000   0.00000   0.000000
25%     0.000000   24.250000   0.00000   0.000000
50%     0.000000   31.500000   0.50000   0.000000
75%     0.000000   39.500000   0.75000   0.500000
max     0.500000  102.500000   2.00000   0.500000

Probamos hacer un enfrentamiento para probar

In [312]:
metrics_media["weight_class"].value_counts()

weight_class
2    23
4     3
3     2
1     1
Name: count, dtype: int64

debo eliminar el que anda solo y uno de la categoria 4, y que ala hora de enfrentarlos solo puedan estar en la misma categoria

Siguiente problema.. como afecta la categoria al enfrentarlos

In [300]:
def crear_combate(df, index_1, index_2):

    fighter_1 = df.iloc[index_1]
    fighter_2 = df.iloc[index_2]

    print(f"{fighter_1['fighter']} vs {fighter_2['fighter']}")

    kd_diff = fighter_1['kd'] - fighter_2['kd']
    str_diff = fighter_1['str'] - fighter_2['str']
    td_diff = fighter_1['td'] - fighter_2['td']
    sub_diff = fighter_1['sub'] - fighter_2['sub']

    df_enfrentamiento = pd.DataFrame({
        'fighter_1': [fighter_1['fighter']],
        'fighter_2': [fighter_2['fighter']],
        'kd_diff': [kd_diff],
        'str_diff': [str_diff],
        'td_diff': [td_diff],
        'sub_diff': [sub_diff]
    })

    return df_enfrentamiento

In [301]:
crear_combate(metrics_media,6,5)

Derrick Lewis vs Demian Maia

       fighter_1    fighter_2  kd_diff  str_diff  td_diff  sub_diff
0  Derrick Lewis  Demian Maia      0.0     -5.25     -1.0      -0.5

HarÃ© un sistema de puntuaciones muy sencillo pero podria aÃ±adir mas variables sin ningÃºn problema

In [302]:
def predecir_ganador(peleador_1, peleador_2):
    puntos_peleador_1 = 0
    puntos_peleador_2 = 0

    #Knockdowns
    if peleador_1['kd'] > peleador_2['kd']:
        puntos_peleador_1 += 1
    else:
        puntos_peleador_2 += 1

    #Takedowns
    if peleador_1['td'] > peleador_2['td']:
        puntos_peleador_1 += 1
    else:
        puntos_peleador_2 += 1

    #Strikes
    if peleador_1['str'] > peleador_2['str']:
        puntos_peleador_1 += 1
    else:
        puntos_peleador_2 += 1

    #Submisiones
    if peleador_1['sub'] > peleador_2['sub']:
        puntos_peleador_1 += 1
    else:
        puntos_peleador_2 += 1

    #Sistema de puntuaciones
    if puntos_peleador_1 > puntos_peleador_2:
        return peleador_1['fighter']
    elif puntos_peleador_2 > puntos_peleador_1:
        return peleador_2['fighter']
    else:
           # Si tienen los mismos puntos, se desempata por el nÃºmero de strikes
        if peleador_1['str'] > peleador_2['str']:
            return peleador_1['fighter']
        elif peleador_2['str'] > peleador_1['str']:
            return peleador_2['fighter']
        else:
            return "Empate"  #Tuviesen mismos strikes tambiÃ©n, se considera empate.


peleador_1 = metrics_media.iloc[6]  
peleador_2 = metrics_media.iloc[5]  

ganador = predecir_ganador(peleador_1, peleador_2)
print(f"El ganador predicho es: {ganador}")

El ganador predicho es: Demian Maia

In [303]:
df.columns

Index(['date', 'r_fighter', 'b_fighter', 'r_kd', 'b_kd', 'r_str', 'b_str',
       'r_td', 'b_td', 'r_sub', 'b_sub', 'weight_class', 'method',
       'method_detailed', 'time'],
      dtype='object')

### Preparar el dataset:

In [304]:
dataset = pd.read_csv("../data/processed/metrics_media.csv", index_col = "Unnamed: 0")
dataset

               fighter    kd     str    td   sub
0         Alex Caceres  0.00   43.75  0.00  0.00
1      Andrei Arlovski  0.00   27.00  0.00  0.00
2     Charles Oliveira  0.00   18.50  0.50  0.50
3           Clay Guida  0.00   27.50  1.25  0.00
4        Darren Elkins  0.00   33.75  1.25  0.50
5          Demian Maia  0.00   21.50  1.00  0.50
6        Derrick Lewis  0.00   16.25  0.00  0.00
7        Diego Sanchez  0.00   29.00  0.50  0.00
8       Donald Cerrone  0.50   31.25  0.00  0.00
9       Dustin Poirier  0.00   36.75  0.50  0.00
10       Edson Barboza  0.50   39.50  0.00  0.00
11  Francisco Trinaldo  0.00   30.75  0.50  0.25
12           Frank Mir  0.00    4.50  0.00  0.50
13       Frankie Edgar  0.00   62.50  1.50  0.00
14       Gleison Tibau  0.00   18.50  2.00  0.25
15     Jeremy Stephens  0.50   38.50  0.00  0.00
16     Jessica Andrade  0.00   31.50  0.75  0.00
17          Jim Miller  0.00   24.25  0.50  0.50
18          Joe Lauzon  0.00   24.00  0.50  0.50
19          Matt Brown  0.00   27.50  0.50  0.50
20        Max Holloway  0.00  102.50  0.00  0.00
21     Michael Bisping  0.00   47.00  0.00  0.00
22     Michael Johnson  0.25   43.25  0.50  0.00
23           Nate Diaz  0.00   37.00  0.25  0.50
24          Neil Magny  0.00   32.75  1.00  0.00
25  Ovince Saint Preux  0.00   22.50  0.00  0.00
26    Rafael Dos Anjos  0.00   41.00  1.00  0.00
27        Thiago Alves  0.50   36.25  0.25  0.00
28           Tim Means  0.00   46.00  0.25  0.00

### Estas son entonces las variables que le entraran al modelo

'r_kd', 'b_kd', 'r_str', 'b_str', 'r_td', 'b_td', 'r_sub', 'b_sub',
       'weight_class', 'method', 'method_detailed',