# Bibliotecas

In [426]:
import pandas as pd

# Import Datasets_raw

In [427]:
# una columna de 0 a 1 para identificar a los luchadores en UNA PELEA
# otra columna que identifique la pelea

In [460]:
url = "../data/data_UFC_EDA/Enfrentamientos/Enfrentamientos.csv"
enfrentamientos = pd.read_csv(url)
enfrentamientos

,event,date,location,r_fighter,b_fighter,status,r_kd,b_kd,r_str,b_str,r_td,b_td,r_sub,b_sub,weight_class,method,method_detailed,round,time
0,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Rose Namajunas,Amanda Ribas,win,0.0,0.0,93.0,83.0,1.0,4.0,0.0,0.0,Women's Flyweight,U-DEC,NaN,5.0,5:00
1,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Karl Williams,Justin Tafa,win,0.0,0.0,40.0,21.0,7.0,0.0,1.0,0.0,Heavyweight,U-DEC,NaN,3.0,5:00
2,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Edmen Shahbazyan,AJ Dobson,win,1.0,0.0,27.0,15.0,1.0,0.0,0.0,0.0,Middleweight,KO/TKO,Punches,1.0,4:33
3,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Payton Talbott,Cameron Saaiman,win,1.0,0.0,79.0,31.0,0.0,0.0,0.0,0.0,Bantamweight,KO/TKO,Punches,2.0,0:21
4,UFC Fight Night: Ribas vs. Namajunas,3/23/2024,"Las Vegas, Nevada, USA",Youssef Zalal,Billy Quarantillo,win,0.0,0.0,33.0,10.0,2.0,0.0,2.0,0.0,Featherweight,SUB,Rear Naked Choke,2.0,1:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7577,NaN,NaN,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7578,NaN,NaN,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7579,NaN,NaN,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7580,NaN,NaN,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7581,NaN,NaN,NaN,NaN,NaN,Fight was not properly finished,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [466]:

enfrentamientos.loc[:,'date'] = pd.to_datetime(enfrentamientos['date'], format='%d/%m/%Y')

In [467]:
enfrentamientos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7582 entries, 0 to 7581
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   event            7497 non-null   object
 1   date             7497 non-null   object
 2   location         7497 non-null   object
 3   r_fighter        7497 non-null   object
 4   b_fighter        7497 non-null   object
 5   status           7582 non-null   object
 6   r_kd             7476 non-null   float64
 7   b_kd             7476 non-null   float64
 8   r_str            7476 non-null   float64
 9   b_str            7476 non-null   float64
 10  r_td             7476 non-null   float64
 11  b_td             7476 non-null   float64
 12  r_sub            7476 non-null   float64
 13  b_sub            7476 non-null   float64
 14  weight_class     7497 non-null   object
 15  method           7497 non-null   object
 16  method_detailed  3836 non-null   object
 17  round            7497 non-null   float64
 18  time             7497 non-null   object
dtypes: float64(9), object(10)
memory usage: 1.1+ MB

### Method
Se trata de una variable objeto, veamos que nos esconde:

In [431]:
enfrentamientos["method"].unique()

array(['U-DEC', 'KO/TKO', 'SUB', 'DQ', 'S-DEC', 'M-DEC', 'Other', nan],
      dtype=object)

Para pasarla a numÃ©rica le daremos un valor a cada variable

- U-DEC (Unanimous Decision): 1
- KO/TKO (Knockout / Technical Knockout): 2
- SUB (Submission): 3
- DQ (Disqualification): 4
- S-DEC (Split Decision): 5
- M-DEC (Majority Decision): 6

# Pasos a seguir:
1. Aseguranos que no haya espacios en blanco y que todas las variables estÃ©n en maÃ½usculas

In [432]:
enfrentamientos["method"] = enfrentamientos["method"].str.strip().str.upper()

2. Creamos un diccionario de valores:

In [433]:
method_dict = {"U-DEC": 1,
               "KO/TKO": 2,
               "SUB": 3,
               "DQ": 4,
               "S-DEC" : 5,
               "M-DEC" : 6}

3. Mapeamos dentro de la columna

In [434]:
enfrentamientos["method"] = enfrentamientos["method"].map(method_dict)

In [435]:
enfrentamientos["method"]

0       1.0
1       1.0
2       2.0
3       2.0
4       3.0
       ...
7577    NaN
7578    NaN
7579    NaN
7580    NaN
7581    NaN
Name: method, Length: 7582, dtype: float64

In [436]:
enfrentamientos.describe()

,r_kd,b_kd,r_str,b_str,r_td,b_td,r_sub,b_sub,method,round
count,7476.000000,7476.000000,7476.000000,7476.000000,7476.000000,7476.000000,7476.000000,7476.000000,7495.000000,7497.000000
mean,0.368914,0.061798,43.488630,28.766988,1.461343,0.668539,0.534243,0.247057,2.188125,2.342804
std,0.607262,0.264120,34.591414,27.099495,1.988927,1.195232,0.941658,0.684925,1.262818,1.015948
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
25%,0.000000,0.000000,17.000000,8.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,0.000000,0.000000,36.000000,22.000000,1.000000,0.000000,0.000000,0.000000,2.000000,3.000000
75%,1.000000,0.000000,61.000000,42.000000,2.000000,1.000000,1.000000,0.000000,3.000000,3.000000
max,5.000000,3.000000,445.000000,271.000000,21.000000,11.000000,10.000000,7.000000,6.000000,5.000000

# El nombre de cada peleador me da igual realmente

In [437]:
enfrentamientos.columns

Index(['event', 'date', 'location', 'r_fighter', 'b_fighter', 'status', 'r_kd',
       'b_kd', 'r_str', 'b_str', 'r_td', 'b_td', 'r_sub', 'b_sub',
       'weight_class', 'method', 'method_detailed', 'round', 'time'],
      dtype='object')

In [438]:
enfrentamientos.drop(columns=["r_fighter", "b_fighter","location","event","status","weight_class","method_detailed"], inplace=True)

# Restamos los valores de cada metrica por peleador

In [439]:
enfrentamientos["kd"] = enfrentamientos["r_kd"].fillna(0) - enfrentamientos["b_kd"].fillna(0)
enfrentamientos["str"] = enfrentamientos["r_str"].fillna(0) - enfrentamientos["b_str"].fillna(0)
enfrentamientos["td"] = enfrentamientos["r_td"].fillna(0) - enfrentamientos["b_td"].fillna(0)
enfrentamientos["sub"] = enfrentamientos["r_sub"].fillna(0) - enfrentamientos["b_sub"].fillna(0)

enfrentamientos.drop(columns=["r_kd", "b_kd"], inplace=True)
enfrentamientos.drop(columns=["r_str", "b_str"], inplace=True)
enfrentamientos.drop(columns=["r_td", "b_td"], inplace=True)
enfrentamientos.drop(columns=["r_sub", "b_sub"], inplace=True)

# tener encuenta status de alguna forma

In [440]:
# enfrentamientos["status"].unique()

In [441]:
# status_dict = {"win": 1,
#                "draw": 2,
#                "Fight was not properly finished'": 3}

In [442]:
# enfrentamientos["status"] = enfrentamientos["status"].map(status_dict)

In [443]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

from sklearn.metrics import roc_auc_score

In [444]:
enfrentamientos

                     date  method  round  time   kd   str   td  sub
0     2024-03-23 00:00:00     1.0    5.0  5:00  0.0  10.0 -3.0  0.0
1     2024-03-23 00:00:00     1.0    3.0  5:00  0.0  19.0  7.0  1.0
2     2024-03-23 00:00:00     2.0    1.0  4:33  1.0  12.0  1.0  0.0
3     2024-03-23 00:00:00     2.0    2.0  0:21  1.0  48.0  0.0  0.0
4     2024-03-23 00:00:00     3.0    2.0  1:50  0.0  23.0  2.0  2.0
...                   ...     ...    ...   ...  ...   ...  ...  ...
7577                  NaT     NaN    NaN   NaN  0.0   0.0  0.0  0.0
7578                  NaT     NaN    NaN   NaN  0.0   0.0  0.0  0.0
7579                  NaT     NaN    NaN   NaN  0.0   0.0  0.0  0.0
7580                  NaT     NaN    NaN   NaN  0.0   0.0  0.0  0.0
7581                  NaT     NaN    NaN   NaN  0.0   0.0  0.0  0.0

[7582 rows x 8 columns]

In [445]:
num_nat = enfrentamientos['date'].isna().sum()
print(f"NÃºmero de valores NaT en la columna 'fecha': {num_nat}")

NÃºmero de valores NaT en la columna 'fecha': 85

In [446]:
enfrentamientos = enfrentamientos.dropna()

In [459]:
enfrentamientos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7495 entries, 0 to 7496
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    7495 non-null   object
 1   method  7495 non-null   float64
 2   round   7495 non-null   float64
 3   time    7495 non-null   object
 4   kd      7495 non-null   float64
 5   str     7495 non-null   float64
 6   td      7495 non-null   float64
 7   sub     7495 non-null   float64
dtypes: float64(6), object(2)
memory usage: 527.0+ KB

In [448]:
import joblib

# Dividiendo en train y test con un 80/20 por ciento

In [449]:
train, test = train_test_split(enfrentamientos, test_size=0.2, random_state=42)

print(f"TamaÃ±o del conjunto de entrenamiento: {train.shape[0]} filas")
print(f"TamaÃ±o del conjunto de prueba: {test.shape[0]} filas")

TamaÃ±o del conjunto de entrenamiento: 5996 filas
TamaÃ±o del conjunto de prueba: 1499 filas

In [450]:
test.to_csv("../data/test_prueba.csv")
test

                     date  method  round  time   kd   str    td  sub
6416  2009-02-21 00:00:00     3.0    1.0  2:37  0.0  -2.0   1.0  1.0
5432  2012-10-05 00:00:00     2.0    2.0  1:06  0.0   0.0   0.0 -1.0
6575  2008-06-07 00:00:00     2.0    1.0  4:40  0.0   0.0   2.0  0.0
5850  2011-07-02 00:00:00     1.0    3.0  5:00  0.0  30.0   1.0  2.0
4776  2014-06-07 00:00:00     1.0    3.0  5:00 -1.0  -7.0  10.0  0.0
...                   ...     ...    ...   ...  ...   ...   ...  ...
5164  2013-07-27 00:00:00     2.0    2.0  2:47  1.0  16.0   0.0  0.0
2758  2018-09-15 00:00:00     1.0    3.0  5:00  0.0   0.0   0.0  0.0
4586  2014-10-04 00:00:00     3.0    1.0  2:06  0.0   2.0   1.0  1.0
6818  2007-01-25 00:00:00     1.0    3.0  5:00  4.0  35.0   2.0  0.0
3742  2016-08-06 00:00:00     2.0    2.0  0:53  1.0  12.0   0.0  0.0

[1499 rows x 8 columns]

# Entrenando con el train

In [451]:
X = train.drop(columns=['round', 'time','date'])
y = train["round"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)

y_pred_proba = model.predict_proba(X_test)

auc = roc_auc_score(y_test, y_pred_proba, average="weighted", multi_class="ovr")  # o "ovo"
print(f"AUC: {auc}")

AUC: 0.7061929454273304

# Probando el test

In [452]:
X = test.drop(columns=['round', 'time','date'])

y_pred_proba_test = model.predict_proba(X)[:, 1] 

predictions_df = pd.DataFrame({"Date": test["date"],
                               "round": y_pred_proba_test})

# predictions_df.to_csv('Pruebas/predicciones_1.csv', index=False)
predictions_df

                     Date     round
6416  2009-02-21 00:00:00  0.182137
5432  2012-10-05 00:00:00  0.104135
6575  2008-06-07 00:00:00  0.122989
5850  2011-07-02 00:00:00  0.190534
4776  2014-06-07 00:00:00  0.029050
...                   ...       ...
5164  2013-07-27 00:00:00  0.213932
2758  2018-09-15 00:00:00  0.115930
4586  2014-10-04 00:00:00  0.185217
6818  2007-01-25 00:00:00  0.314426
3742  2016-08-06 00:00:00  0.208709

[1499 rows x 2 columns]

In [453]:
predictions_df["round"]

6416    0.182137
5432    0.104135
6575    0.122989
5850    0.190534
4776    0.029050
          ...
5164    0.213932
2758    0.115930
4586    0.185217
6818    0.314426
3742    0.208709
Name: round, Length: 1499, dtype: float64

In [454]:
# Guardar el modelo en un archivo .pkl
joblib.dump(model, 'ufc_model.pkl')

print("Modelo guardado como ufc_model.pkl")

Modelo guardado como ufc_model.pkl

In [455]:
import pickle

In [456]:
with open('../notebooks/ufc_model.pkl', 'rb') as f:
    model = pickle.load(f)

In [457]:
print(type(model))

<class 'numpy.ndarray'>